<p id="notice"><%= notice %></p>


<p>
  
</p>
<p>
  <h1><em><u><%= @blog.title %></u></em></h1>
  <%= @blog.body %></p>
	</p><p>
		
		<h3>Comments</h3>
<% @blog.comments.each do |comment| %>
  <div>
    <strong><%= comment.comment %></strong>
    <br />
  </div>
<% end %>
<%= render 'comments/form' %>
	</p>


<%= link_to 'Edit', edit_blog_path(@blog.id) %> |
<%= link_to 'Back', blogs_path %>
